@layout('layouts.main')


<h1>{{ title }}</h1>

@section('content')

    <ul class="list-group">

        @each(post in posts)

            <li class="list-group-item mb-3">
                <a href="/posts/{{ post.id }}">
                    <h3>{{ _('capitalize', post.title) }}</h3>
                </a>
                <p>{{  _('truncate', post.body) }}</p>
            </li>
        
        @endeach
        
    </ul>
  
@endsection
